.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myNav {
  display: flex;
  justify-content: space-around;
  align-items: right; 
  min-height: 10vh;
  padding-right: 10px;
  background: #282c34 ;
  color: white;
}

.nav-Links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none; 
}

.nav-Links li{
  color: white;
}

.postDetail {
  padding-top: 8%;
}

.add_form {
  list-style-type: none;
}